@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import "./wallet-adapter.scss";
@import "@primer/css/index.scss";

:root {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    color: #24292e;
}

.searchbox-candymachine {
    max-width: 186px;
}

.top-actions-bar {
    gap: 1rem;
}

.wallet-adapter-button {
    background-color: #4e44ce !important;
    padding: 6px 12px !important;
    height: 32px !important;
    border-radius: 2px !important;
    flex-shrink: 0;
    font-size: 12px;
    letter-spacing: -0.15px;
}

.loading-animation {
    svg {
        animation: loading-animation 1s infinite;
    }
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
