@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import "./wallet-adapter.scss";
@import "@primer/css/index.scss";

:root {
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    color: #24292e;
}

.searchbox-candymachine {
    max-width: 186px;
}

.column-gap-1 {
    column-gap: 1rem;
}

.nfts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    grid-gap: 1rem;
    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(6, 185px);
    }
}

.wallet-adapter-button {
    background-color: #4e44ce !important;
    padding: 6px 12px !important;
    height: 32px !important;
    border-radius: 2px !important;
    flex-shrink: 0;
    font-size: 12px;
    letter-spacing: -0.15px;
}

.loading-animation {
    svg {
        animation: loading-animation 1s infinite;
    }
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/* Scrollbar CSS */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #c8c9ca #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #c8c9ca;
    border-radius: 6px;
    border: 4px solid #ffffff;
}

.select-wrapper > select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    background-image: url("/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 20px;
}

.cursor-default {
    cursor: default;
}

.notifications {
    z-index: 100;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    @media (min-width: 780px) {
        bottom: 100px;
        right: 50px;
        width: 40%;
    }
    > div {
        margin-top: 8px;
    }
}

.upload-button {
    border: 1px solid #1b1f2426;
    padding: 8px 24px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #f6f8fa;
}
.cursor-pointer {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
}