@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.accordion {
  animation: close 200ms ease-in-out forwards;
}
.accordion.show {
  animation: open 300ms ease-in-out forwards;
}

@keyframes open {
  from {
    height: 3.5rem;
  }
  to {
    height: 20rem;
  }
}

@keyframes close {
  from {
    height: 20rem;
  }
  to {
    height: 3.5rem;
  }
}
